.navbar {
    display: grid;
    grid-template-columns:100px 400px 100px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #000;
    min-height: 10vh;
    box-shadow: 21px -8px 79px 25px rgb(86 104 131 / 50%), -2px 19px 59px rgba(255, 255, 255, 0.6);

    .nav-menu {
        display: flex;
        justify-content: center;
        gap: 2rem;
    
        li {
            a {
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 600;
                padding: 0.5rem 0;
                position: relative;
                
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px; // Ubicación debajo del texto
                    left: 0;
                    width: 0;
                    height: 2px; // Altura de la línea
                    background-color: #000; // Color de la línea
                    transition: width 0.3s ease; // Transición para el efecto
                }
    
                &:hover::after {
                    width: 100%; // La línea se expande al 100% en hover
                }
            }
        }
    }
}


